* {
    background-color: black;
    overflow-x: hidden;
    overflow-y: hidden;
}

.main_pic {
    position: absolute;
    left: 48.5rem;
    top: 14.5rem;
}

.main_name {
    position: absolute;
    left: 115rem;
    top: 1rem;
    color: #ff0000;
    font-family: Roboto, sans-serif;
    font-weight: bold;
    font-size: 1.5rem;
}

.main_bio {
    position: absolute;
    left: 3rem;
    top: 54.5rem;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 1.5rem;
}

.from {
    position: absolute;
    left: 3rem;
    top: 57rem;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 1.5rem;
}

.london {
    position: absolute;
    left: 7rem;
    top: 57rem;
    color: red;
    font-family: 'Roboto', sans-serif;
    font-size: 1.5rem;
    font-weight: 700;
}

#discord_logo {
    position: absolute;
    left: 100rem;
    top: 56rem;
}

#github_logo {
    position: absolute;
    left: 106rem;
    top: 56rem;   
}

#email_logo {
    position: absolute;
    left: 112.5rem;
    top: 56rem;       
}

.code {
    position: absolute;
    left: 115rem;
    top: 15rem;
    transform: rotate(-90deg);
}

.skills {
    position: absolute;
    left: 115.3rem;
    top: 35rem;
    transform: rotate(-90deg);    
}

.projects {
    position: absolute;
    left: 114.5rem;
    top: 25rem;
    transform: rotate(-90deg);   
}

.port {
    position: absolute;
    left: 19px;
    top: 13px;
}

#ts {
    position: absolute;
    color: red;
    font-size: 1.8rem;
    font-family: 'Roboto', sans-serif;
    left: 43%;
    top: 15%;
}

#python_logo {
    position: absolute;
    left: 36%;
    top: 27%;
}

#python-text {
    position: absolute;
    color: red;
    left: 40.5%;
    top: 27.5%;
    font-size: 1.3rem;
}

#html_logo {
    position: absolute;
    left: 36%; 
    top: 35.5%;
}

#html-text {
    position: absolute;
    color: red;
    left: 40.5%;
    top: 36.5%;
    font-size: 1.3rem;
}

#js_logo {
    position: absolute;
    left: 35.8%;
    top: 43.5%;
}

#js-text {
    position: absolute;
    color: red;
    left: 40.5%;
    top: 45%;
    font-size: 1.3rem;
}

#bootstrap-logo {
    position: absolute;
    left: 55%;
    top: 27%;
}

#bootstrap-text {
    position: absolute;
    color: red;
    left: 58.5%;
    top: 27.5%;
    font-size: 1.3rem;
}

#css-logo {
    position: absolute;
    left: 55%; 
    top: 35.5%;
}

#css-text {
    position: absolute;
    color: red;
    left: 59%; 
    top: 36%; 
    font-size: 1.5rem;  
}

#node-logo {
    position: absolute;
    left: 55%; 
    top: 45%;
}

#node-text {
    position: absolute;
    color: red;
    left: 59%; 
    top: 45.5%; 
    font-size: 1.5rem;      
}

#back {
    position: absolute;
    color: red;
    left: 1%;
    top: 97%;
}
